<div id="about">
	<h1>SOBRE NOSOTROS</h1>
	<div id="about-wrap">
		<div id="julio" class="fl">
			<%= image_tag "julio.jpg" , height: '400' %>
		</div>
		<div id="description" >
			<p><strong>GUÍA V 2014-2015.</strong> Está disponible la segunda edición del exclusivo Vademécum de Especialidades Veterinarias del Uruguay; obra declarada de Interés Ministerial por el MGAP y auspiciada por la SMVU. Cuenta con recomendaciones del DILAVE para el manejo responsable de los productos.<br>
			<strong>GUÍA V,</strong> es una herramienta de máxima utilidad para médicos veterinarios, estudiantes, autoridades, industria, comercios veterinarios y productores rurales.<br>
			<strong>GUÍA V 2014-2015,</strong> con un moderno diseño y alta calidad de impresión; 640 páginas con información de más de 2.500 productos de plaza correspondientes a 70 laboratorios, clasificados en cuatro capítulos: Farmacológicos, Biológicos, Nutricionales y Misceláneos.<br>
			<strong>GUÍA V 2014-2015,</strong> se puede adquirir en Veterinarias, Librerías y en la Sociedad de Medicina Veterinaria del Uruguay, en forma exclusiva para socios.</p>
		</div>
		<div class="clear"></div>
		<div id="videos">
			<ul class="youtube-videogallery">
			    <li><a href="http://www.youtube.com/watch?v=uEmdKV3OoGY">Spot TV 2014-2015</a></li>
			    <li><a href="http://www.youtube.com/watch?v=VKTd49X5zW8">Entrevista Buiatria.</a></li>
			    <li><a href="http://www.youtube.com/watch?v=xrJahY2dpXw">Spot Lanzamiento 2012</a></li>
			</ul>
		</div>
	</div>
	
</div>