<div id="wrapper-home">
	<div class="menu">
		<div class="row">
		  <div class="col-md-4 categories cattle left">
		  	<h2>bovinos</h2>
		  	<div class="transparent"></div>
		  </div>
		  <div class="col-md-4 categories horse">
		  	<h2>equinos</h2>
		  	<div class="transparent"></div>
		  </div>
		  <div class="col-md-4 categories sheep right">
		  	<h2>ovinos</h2>
		  	<div class="transparent"></div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-4 categories cat left">
		  	<h2>felinos</h2>
		  	<div class="transparent"></div>
		  </div><div class="col-md-4 categories dog">
		  	<h2>caninos</h2>
		  	<div class="transparent"></div>
		  </div><div class="col-md-4 categories pigs right">
		  	<h2>porcinos</h2>
		  	<div class="transparent"></div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-4 categories rabbit left">
		  	<h2>conejos</h2>
		  	<div class="transparent"></div>
		  </div><div class="col-md-4 categories chicken">
		  	<h2>aves</h2>
		  	<div class="transparent"></div>
		  </div><div class="col-md-4 categories bee right">
		  	<h2>abejas</h2>
		  	<div class="transparent"></div>
		  </div>
		</div>
	</div>
</div>