<div id="wrapper-home">
	<div class="menu">
		<div class="row">
		  <div class="col-md-4 cattle">
		  	<h2>horse</h2>
		  </div>
		  <div class="col-md-4 horse">
		  	<h2>cattle</h2>
		  </div>
		  <div class="col-md-4 sheep">
		  	<h2>sheep</h2>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-4">.col-md-1</div>
		  <div class="col-md-4">.col-md-1</div>
		  <div class="col-md-4">.col-md-1</div>
		</div>
		<div class="row">
		  <div class="col-md-4">.col-md-1</div>
		  <div class="col-md-4">.col-md-1</div>
		  <div class="col-md-4">.col-md-1</div>
		</div>
		<div class="row">
		  <div class="col-md-4">.col-md-1</div>
		  <div class="col-md-4">.col-md-1</div>
		  <div class="col-md-4">.col-md-1</div>
		</div>
	</div>
	

</div>