/* line 5, /Users/juan/Documents/RubyOnRails/guiav/app/assets/stylesheets/sessions.css.scss */
#body-login {
  background-color: #015187;
  color: white;
  position: relative;
  text-align: center;
}

/* line 13, /Users/juan/Documents/RubyOnRails/guiav/app/assets/stylesheets/sessions.css.scss */
#wrapper-login {
  margin: 100px auto 0 auto;
  height: 440px;
  width: 800px;
}

/* line 20, /Users/juan/Documents/RubyOnRails/guiav/app/assets/stylesheets/sessions.css.scss */
#content-login {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px 20px;
  width: 360px;
  margin: 20px auto 0  auto;
}

/* line 29, /Users/juan/Documents/RubyOnRails/guiav/app/assets/stylesheets/sessions.css.scss */
#content-login form, #content-login input .form-control {
  margin: 0 auto;
  width: 300px;
}
/* line 34, /Users/juan/Documents/RubyOnRails/guiav/app/assets/stylesheets/sessions.css.scss */
#content-login input.btn.btn-primary {
  font-size: 17px;
  font-weight: bold;
}

/* line 41, /Users/juan/Documents/RubyOnRails/guiav/app/assets/stylesheets/sessions.css.scss */
#content-login input {
  margin: 20px 0;
}
