/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 *= require chosen
 */
* { 
	padding:0; 
	margin:0; 
	font-family: 'Lato', sans-serif; 
	
}


/* --------------- MODAL --------------- */
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 17px;
}

.modal-dialog {
  margin-top: 10% !important;
  height: 300px !important;
  text-align: center;

}

.modal-body {
  padding-bottom: 0 !important;

}

.modal-content {
  height: 300px !important;
  text-align: center;

}

/*----------------- END MODAL ----------------*/

h1,h2,h3{
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}


#header{
	text-align: center;
	background-color: #015187;
}

#licencia{
	margin: 10px 0 35px 0;
	color: #fff;
}

#licencia a:visited{
	color: #fff;
}

#licencia a:hover{
	color: #563d7c;
}

#footer
{
	background-color: #015187;
	color: white;
	position: relative;
	text-align: center;
}

#logo-header{
	padding:  30px 0;
}

#footer a
{
	color: white;
	text-decoration: none;
}

#footer a:hover
{
	color: #428bca;
	text-decoration: none;
}

#contact i{
	color: white;
	border:1px solid;
	-moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%; 
    margin: 0 auto;
}

#contact .fbook i{
	padding: 5px 9px;
}

#contact .mail i{
	padding: 5px 5px;
}

#contact .fbook i:hover, #contact .mail i:hover{
	color:  #015187;
	background-color: white;
	border-color: white !important;
}

.centered{
	text-align: center;
}

.desaturate { 
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all .6s ease;
}

#logo-footer{
	margin-top: 40px;
	margin-bottom: 20px;
}

.copy{
	opacity: 0.8;
	color: white;
	font-size: 11px;
	margin-top: 5px;
}

#copyright{
	background-color: #012e4d ;
	padding: 8px 0;

	text-align: center;
}

#map-canvas {
        width: 100%;
        height: 400px;
      }

 #contact{
 	width:200px;
	text-align: center;
	margin: 0 auto;
 }

 #contact li , #auspicios li{
 	padding: 0 10px;
 	text-align: center;
 	display: inline;
 	text-decoration: none;
 }

 #contact li a:hover{
 	background-color: white;
 }

 #contact-us{
 	padding-top: 50px;
 	padding-bottom: 50px;
 	font-size: 60px;
 }

 #footer-content{
	padding-bottom: 20px;
 }

 #arrow-up i{
 	position: fixed;
 	right: 50px;
 	bottom: 60px;
 	color: #A9A9A9 ;
 	opacity: 0.7;
 }

 .white{
 	color: #fff;
 }

 .blue{
 	color: #015187;
 }

 #arrow-up i:hover{
 	opacity: 1;
 }

 #auspicios{
 	margin-top: 40px;
 }

.clear{
	clear:both;
}

.fr{
	float:right;
}

.fl{
	float:left;
}

.opacity{
	opacity: 0.7;
}

.siteNotice{
	color: #015187 ;
	width: 200px;
	text-align: left;
  }


.firstHeading{
	color: #015187 ;
	font-size: 20px ;
	font-weight: bold;
}

.animals{
	display:inline-block;
	text-decoration: none;
}

.animals img {
        vertical-align: bottom;
        display: table-cell;
    }​

#wrapper-lab{
	width: 600px;
	margin: 0 auto;
}
/* Login */
