// Place all the styles related to the search_medicaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-box{
	text-align:center;
	margin: 50px auto;
}

.filter-panel{
	margin: 50px auto 0 auto;
	width: 70%;
}

.filter-panel{
	padding: 5px 10px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.filter-panel h4{
	color: #999999;
}

.filter-panel li{
	list-style: none outside none;
}

.copyright{
	position: absolute ;
	left:0 ;
	bottom:0 ;
	width: 100%;
}

