// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#table{
	margin: 40px 40px;
}

#pagination{
	text-align: center;
}

.navbar-custom {
	background-color:#015187;
    color:#a8a8a8;
    border-style:solid;
	border-top:1px double #a8a8a8;
}
  
.navbar-custom .navbar-nav > li > a {
  	color:#a8a8a8;
  	padding-left:20px;
  	padding-right:20px;
}

.navbar-custom .navbar-nav > li > a:hover {
  	color:#fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #126297;
}
      
.navbar-custom .navbar-brand {
  	color:#eeeeee;
}
.navbar-custom .navbar-toggle {
  	background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  	background-color:#126297;
}

// ----------- ABOUT -------------------

#about{
  height: 900px;
  text-align:center;
}

#about h1{
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 60px;
}

#about-wrap{
  width: 80%;
  margin: 20px auto;
}

#julio{
  margin-right: 30px;
}

#description{
  margin: 0 auto;
  width: 500px;
  text-align: left;
}

#videos{
  margin: 80px auto 20px auto;
}

// WRAPPER HOME

#wrapper-home{
  background: transparent; 
}

// MENU --------------

.menu{
  width: 80%;
  margin: 30px auto;
}

.menu .row{
  text-align:center;
}

.menu .row .categories{
  background: no-repeat center center; 
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  line-height: 200px;
  text-align:center;
  margin-top: 10px;
}

.menu .row .left{
  left: -5px;
}

.menu .row .right{
  left: 5px;
}

.menu .row .cattle{
  background-image: url(/assets/cattle.jpg);
}

.menu .row .horse{
  background-image: url(/assets/horse.jpg);
}

.menu .row .sheep{
  background-image: url(/assets/sheep.jpg);
}

.menu .row .pigs{
  background-image: url(/assets/pigs.jpg);
}

.menu .row .cat{
  background-image: url(/assets/cat1.jpg);
}

.menu .row .dog{
  background-image: url(/assets/dog.jpg);
}

.menu .row .rabbit{
  background-image: url(/assets/rabbit.jpg);
}

.menu .row .chicken{
  background-image: url(/assets/chicken.jpg);
}

.menu .row .bee{
  background-image: url(/assets/bee.jpg);
}

.menu .row h2{
  position:relative;
  text-shadow: 2px 2px #000;
  line-height: 200px;
  margin-top:0;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  color: rgba(255,255,255,1);
  vertical-align: middle;
  z-index: 100 !important;
}

.menu .transparent{
  width:100%;
  height:100%;
  opacity: 0;
  background-color : #000;
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  z-index: 2;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.menu .categories:hover .transparent{
  opacity: .7;
}

